<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home24 Basic Crawler</title>
    <style>
        * {
            padding: 0;
            margin: 0;
        }
        .error {
            background-color: rgb(255, 0, 0, 0.4);
        }

        form {
            padding: 16px;
        }

        input {
            margin-top: 10px;
            display: block;
        }
    </style>
</head>
<body>
    <h1>Home24 Basic Crawler</h1>

    {{ range .Errors }}
        <div class="error">{{ . }}</div>
    {{ end }}

    <form method="POST" action="/analyze">
        <label for="url">
            URL:
            <input type="text" name="url" id="url" placeholder="https://example.com"/>
        </label>
        <input type="submit">
    </form>
    <div>
        {{ if .CrawlResult }}
            {{ with .CrawlResult }}
                <h1>Result: </h1>
                <p>URL: {{ .URL }}</p>
                <p>Title: {{ .Title }}</p>
                {{range $key, $vals := .HeaderMap}}
                    <p>{{ $key }} -
                    {{range $i, $v := $vals}}
                        {{if $i}}, {{end}}{{$v}}
                    {{end}}
                    </p>
                {{ else }}
                    <p>No headers.</p>
                {{end}}

                {{range .CrawlResult.Anchors}}
                    <p>
                        <a href="{{.URL}}" target="_blank">{{.URL}}</a> {{if .External}}(external){{end}}
                    </p>
                {{else}}
                    <p>No anchors found</p>
                {{end}}
            {{ end }}
        {{ end }}
    </div>
</body>
</html>